In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from _entropy import calculate_entropy
from  _gini import calculate_gini_impurity

In [2]:
data = pd.read_csv('cinema_shopping_tenis_decision.csv')
data

  Weather Parents Money  Decision
0   Sunny     Yes  Rich    Cinema
1   Sunny      No  Rich    Tennis
2   Windy     Yes  Rich    Cinema
3   Rainy     Yes  Poor    Cinema
4   Rainy      No  Rich   Stay In
5   Rainy     Yes  Poor    Cinema
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
8   Windy     Yes  Rich    Cinema
9   Sunny      No  Rich    Tennis

In [26]:
# def split_based_on_gini_impurity(data, target):
#     print("##################### Data  got  #####################")
#     display(data)
#     lowest_impurity = calculate_gini_impurity(data, target)
#     print(f"lowest impurity of the data is : {lowest_impurity}")
#     min_key, min_value = min(lowest_impurity.items(), key=lambda x: x[1])
#     print(min_key, min_value)
#     print("####################### END #################################")    
#     unique_values = data[min_key].unique()

#     data_splits = {value: data[data[min_key] == value] for value in unique_values}

#     for i in data_splits :
#         df = data_splits[i]
        
#         ## check if the Target values have any impurites.
#         unique_values = df['Decision'].unique()
#         display(df)
#         if len(unique_values) > 1:
#             split_based_on_gini_impurity(df, target)

In [27]:
def split_based_on_gini_impurity(data, target):
    print("##############################")
    print("Data for Splitting:")
    display(data)

    lowest_impurity = calculate_gini_impurity(data, target)
    print(f"Lowest impurity of the data is: {lowest_impurity}")
    
    min_key, min_value = min(lowest_impurity.items(), key=lambda x: x[1])
    print(f"Next split based on feature: {min_key}, Gini Impurity: {min_value}")

    print("##############################")    
    unique_values = data[min_key].unique()

    data_splits = {value: data[data[min_key] == value] for value in unique_values}

    for i, split_df in enumerate(data_splits.values(), 1):
        print(f"Split {i} - Data:")
        display(split_df)
        
        unique_values = split_df['Decision'].unique()
        if len(unique_values) > 1:
            print(f"Split {i} - Multiple target values found, further splitting:")
            split_based_on_gini_impurity(split_df, target)
        else:
            print(f"Split {i} - Only one target value found: {unique_values[0]}")

    print("##############################")

In [28]:
split_based_on_gini_impurity(data= data, target= 'Decision')

##############################
Data for Splitting:

  Weather Parents Money  Decision
0   Sunny     Yes  Rich    Cinema
1   Sunny      No  Rich    Tennis
2   Windy     Yes  Rich    Cinema
3   Rainy     Yes  Poor    Cinema
4   Rainy      No  Rich   Stay In
5   Rainy     Yes  Poor    Cinema
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
8   Windy     Yes  Rich    Cinema
9   Sunny      No  Rich    Tennis

Lowest impurity of the data is: {'Decision': 0.58, 'Weather': 0.41666666666666663, 'Parents': 0.35999999999999993, 'Money': 0.48571428571428565}
Next split based on feature: Parents, Gini Impurity: 0.35999999999999993
##############################
Split 1 - Data:

  Weather Parents Money Decision
0   Sunny     Yes  Rich   Cinema
2   Windy     Yes  Rich   Cinema
3   Rainy     Yes  Poor   Cinema
5   Rainy     Yes  Poor   Cinema
8   Windy     Yes  Rich   Cinema

Split 1 - Only one target value found: Cinema
Split 2 - Data:

  Weather Parents Money  Decision
1   Sunny      No  Rich    Tennis
4   Rainy      No  Rich   Stay In
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
9   Sunny      No  Rich    Tennis

Split 2 - Multiple target values found, further splitting:
##############################
Data for Splitting:

  Weather Parents Money  Decision
1   Sunny      No  Rich    Tennis
4   Rainy      No  Rich   Stay In
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
9   Sunny      No  Rich    Tennis

Lowest impurity of the data is: {'Decision': 0.7199999999999999, 'Weather': 0.2, 'Parents': 0.7199999999999999, 'Money': 0.5}
Next split based on feature: Weather, Gini Impurity: 0.2
##############################
Split 1 - Data:

  Weather Parents Money Decision
1   Sunny      No  Rich   Tennis
9   Sunny      No  Rich   Tennis

Split 1 - Only one target value found: Tennis
Split 2 - Data:

  Weather Parents Money Decision
4   Rainy      No  Rich  Stay In

Split 2 - Only one target value found: Stay In
Split 3 - Data:

  Weather Parents Money  Decision
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping

Split 3 - Multiple target values found, further splitting:
##############################
Data for Splitting:

  Weather Parents Money  Decision
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping

Lowest impurity of the data is: {'Decision': 0.5, 'Weather': 0.5, 'Parents': 0.5, 'Money': 0.0}
Next split based on feature: Money, Gini Impurity: 0.0
##############################
Split 1 - Data:

  Weather Parents Money Decision
6   Windy      No  Poor   Cinema

Split 1 - Only one target value found: Cinema
Split 2 - Data:

  Weather Parents Money  Decision
7   Windy      No  Rich  Shopping

Split 2 - Only one target value found: Shopping
##############################
##############################
##############################