In [77]:
import numpy as np
import pandas as pd
from _entropy import calculate_entropy
from  _gini import calculate_gini_impurity

In [78]:
data = pd.read_csv('cinema_shopping_tenis_decision.csv')
data

  Weather Parents Money  Decision
0   Sunny     Yes  Rich    Cinema
1   Sunny      No  Rich    Tennis
2   Windy     Yes  Rich    Cinema
3   Rainy     Yes  Poor    Cinema
4   Rainy      No  Rich   Stay In
5   Rainy     Yes  Poor    Cinema
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
8   Windy     Yes  Rich    Cinema
9   Sunny      No  Rich    Tennis

In [79]:
# Assuming 'df' is your dataset
gini_impurity_dict = calculate_gini_impurity(data, 'Decision')
print(gini_impurity_dict)

{'Decision': 0.58, 'Weather': 0.41666666666666663, 'Parents': 0.35999999999999993, 'Money': 0.48571428571428565}

In [98]:
_2nd_split = data[data['Parents'] == 'No']
_2nd_split

  Weather Parents Money  Decision
1   Sunny      No  Rich    Tennis
4   Rainy      No  Rich   Stay In
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
9   Sunny      No  Rich    Tennis

In [95]:
 data[data['Parents'] == 'Yes']

  Weather Parents Money Decision
0   Sunny     Yes  Rich   Cinema
2   Windy     Yes  Rich   Cinema
3   Rainy     Yes  Poor   Cinema
5   Rainy     Yes  Poor   Cinema
8   Windy     Yes  Rich   Cinema

In [83]:
weather_split_sunny = _2nd_split[_2nd_split['Weather']=='Sunny']
weather_split_sunny

  Weather Parents Money Decision
1   Sunny      No  Rich   Tennis
9   Sunny      No  Rich   Tennis

In [86]:
weather_split_rainy = _2nd_split[_2nd_split['Weather']=='Rainy']
weather_split_rainy

  Weather Parents Money Decision
4   Rainy      No  Rich  Stay In

In [87]:
weather_split_windy = _2nd_split[_2nd_split['Weather']=='Windy']
weather_split_windy

  Weather Parents Money  Decision
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping

In [92]:
money_split_windy_poor = weather_split_windy[weather_split_windy['Money']=='Poor']
money_split_windy_poor

  Weather Parents Money Decision
6   Windy      No  Poor   Cinema

In [94]:
money_split_windy_rich = weather_split_windy[_2nd_split['Money']=='Rich']
money_split_windy_rich

C:\Users\niran\AppData\Local\Temp\ipykernel_15280\4190093679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  money_split_windy_rich = weather_split_windy[_2nd_split['Money']=='Rich']

  Weather Parents Money  Decision
7   Windy      No  Rich  Shopping