In [22]:
import numpy as np
import pandas as pd
from _entropy import calculate_entropy
from  _gini import calculate_gini_impurity

In [2]:
data = pd.read_csv('cinema_shopping_tenis_decision.csv')
data

  Weather Parents Money  Decision
0   Sunny     Yes  Rich    Cinema
1   Sunny      No  Rich    Tennis
2   Windy     Yes  Rich    Cinema
3   Rainy     Yes  Poor    Cinema
4   Rainy      No  Rich   Stay In
5   Rainy     Yes  Poor    Cinema
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
8   Windy     Yes  Rich    Cinema
9   Sunny      No  Rich    Tennis

In [3]:
# Assuming 'df' is your dataset
gini_impurity_dict = calculate_gini_impurity(data, 'Decision')
print(gini_impurity_dict)

{'Decision': 0.58, 'Weather': 0.41666666666666663, 'Parents': 0.35999999999999993, 'Money': 0.48571428571428565}

In [4]:
_2nd_split = data[data['Parents'] == 'No']
_2nd_split

  Weather Parents Money  Decision
1   Sunny      No  Rich    Tennis
4   Rainy      No  Rich   Stay In
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping
9   Sunny      No  Rich    Tennis

In [5]:
 data[data['Parents'] == 'Yes']

  Weather Parents Money Decision
0   Sunny     Yes  Rich   Cinema
2   Windy     Yes  Rich   Cinema
3   Rainy     Yes  Poor   Cinema
5   Rainy     Yes  Poor   Cinema
8   Windy     Yes  Rich   Cinema

In [6]:
weather_split_sunny = _2nd_split[_2nd_split['Weather']=='Sunny']
weather_split_sunny

  Weather Parents Money Decision
1   Sunny      No  Rich   Tennis
9   Sunny      No  Rich   Tennis

In [7]:
weather_split_rainy = _2nd_split[_2nd_split['Weather']=='Rainy']
weather_split_rainy

  Weather Parents Money Decision
4   Rainy      No  Rich  Stay In

In [8]:
weather_split_windy = _2nd_split[_2nd_split['Weather']=='Windy']
weather_split_windy

  Weather Parents Money  Decision
6   Windy      No  Poor    Cinema
7   Windy      No  Rich  Shopping

In [11]:
gini_impurity_dict = calculate_gini_impurity(weather_split_windy, 'Decision')
print(gini_impurity_dict)

{'Decision': 0.5, 'Weather': 0.5, 'Parents': 0.5, 'Money': 0.0}

In [9]:
money_split_windy_poor = weather_split_windy[weather_split_windy['Money']=='Poor']
money_split_windy_poor

  Weather Parents Money Decision
6   Windy      No  Poor   Cinema

In [10]:
money_split_windy_rich = weather_split_windy[_2nd_split['Money']=='Rich']
money_split_windy_rich

C:\Users\niran\AppData\Local\Temp\ipykernel_19324\4190093679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  money_split_windy_rich = weather_split_windy[_2nd_split['Money']=='Rich']

  Weather Parents Money  Decision
7   Windy      No  Rich  Shopping

In [10]:
import pandas as pd

# Sample age data (replace this with your actual age data)
age_data = [21, 22, 23, 24, 25, 26, 30, 31, 32, 35, 40, 50, 60]

# Define the bin edges based on your chosen groups
bin_edges = [0, 25, 30, 40, 50, 100]

# Define the labels for the bins
bin_labels = ['<25', '25-30', '30-40', '40-50', '>50']

# Binning the age data
age_bins = pd.cut(age_data, bins=bin_edges, labels=bin_labels, right=False)

# Create a DataFrame to visualize the bins
data = pd.DataFrame({'Age': age_data, 'Age Group': age_bins})

display(data)
for i in data['Age Group']:
    display(type(i))

    Age Age Group
0    21       <25
1    22       <25
2    23       <25
3    24       <25
4    25     25-30
5    26     25-30
6    30     30-40
7    31     30-40
8    32     30-40
9    35     30-40
10   40     40-50
11   50       >50
12   60       >50

str

str

str

str

str

str

str

str

str

str

str

str

str

In [17]:
import pandas as pd

data = pd.read_csv('gpt_house_category.csv')
data

    Size (sq. ft.)  Number of Bedrooms House Category
0             1500                   3    Small House
1             1800                   4   Medium House
2             2200                   3    Small House
3             1300                   2    Small House
4             2500                   5    Large House
..             ...                 ...            ...
95            1600                   5    Large House
96            1400                   5    Large House
97            2700                   2    Small House
98            2300                   3    Small House
99            1200                   3    Small House

[100 rows x 3 columns]

In [27]:
from  _gini import calculate_gini_impurity  

def gini_impurity(labels):
    total_samples = len(labels)
    class_counts = labels.value_counts()
    gini = 1.0

    for count in class_counts:
        p_i = count / total_samples
        gini -= p_i ** 2

    return gini

def find_optimal_threshold(feature_values, labels):
    best_gini = float('inf')
    best_threshold = None

    for threshold in feature_values:
        left_mask = feature_values <= threshold
        right_mask = feature_values > threshold

        left_gini = gini_impurity(labels[left_mask])
        right_gini = gini_impurity(labels[right_mask])
        weighted_gini = (left_gini * sum(left_mask) + right_gini * sum(right_mask)) / len(labels)
        
        if weighted_gini < best_gini:
            best_gini = weighted_gini
            best_threshold = threshold

    return best_threshold

# Extract the "Size (sq. ft.)" feature and labels
size_feature = data["Size (sq. ft.)"]

# Find the optimal threshold for the "Size (sq. ft.)" feature
optimal_threshold = find_optimal_threshold(size_feature, data['House Category'])

print(f"Optimal Threshold for Size (sq. ft.): {optimal_threshold}")
#####################################################################

# Extract the "Size (sq. ft.)" feature and labels
size_feature = data["Number of Bedrooms"]

# Find the optimal threshold for the "Size (sq. ft.)" feature
optimal_threshold = find_optimal_threshold(size_feature, data['House Category'])

print(f"Optimal Threshold for Size (sq. ft.): {optimal_threshold}")

left gini : 0.17999999999999994
0      True
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.0
0     False
1     False
2     False
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5881028335522612
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5568000000000001
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40997229916897515
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.31999999999999984
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.24489795918367355
0     False
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.600518213686938
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5563114134542706
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.0
0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5941828254847644
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6119614512471655
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6156691769057998
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.39499999999999996
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.39476813317479204
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5171658144631118
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5642722117202268
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6221470836855452
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6301493888637393
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5568000000000001
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.31999999999999984
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.0
0     False
1     False
2     False
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6221470836855452
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6321606972048038
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6358534843383329
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.24489795918367355
0     False
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5171658144631118
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.600518213686938
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5563114134542706
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6374000000000001
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5568000000000001
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40997229916897515
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6358534843383329
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6321606972048038
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6221470836855452
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5881028335522612
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.17999999999999994
0      True
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6321606972048038
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6119614512471655
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.600518213686938
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5941828254847644
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5563114134542706
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6301493888637393
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6156691769057998
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5941828254847644
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40997229916897515
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.17999999999999994
0      True
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5881028335522612
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.31999999999999984
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5563114134542706
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.600518213686938
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.546014158202524
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6221470836855452
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5881028335522612
0      True
1      True
2      True
3      True
4      True
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5093877551020407
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6119614512471655
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5563114134542706
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.31999999999999984
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6156691769057998
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.6301493888637393
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40561224489795916
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5568000000000001
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.40997229916897515
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5746691871455577
0      True
1      True
2      True
3      True
4     False
      ...
95     True
96     True
97    False
98     True
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.5708641975308643
0      True
1      True
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.31999999999999984
0      True
1     False
2     False
3      True
4     False
      ...
95     True
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.24489795918367355
0     False
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99     True
Name: Size (sq. ft.), Length: 100, dtype: bool
left gini : 0.600518213686938
0     True
1     True
2     True
3     True
4     True